{% extends "base.html" %}

{% block title %}EL JUEGO{% endblock title %}

{% block content %}
    <div>
        <h1>Empecemos</h1>
        <h2>Teclee un número entre el 1 y el 30</h2>
    </div>

    <div>
        <form method="post" action="/resultado">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Número" name="guess">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock content %}
